:root {
    --mainFont: "Segoe UI", Helvetica, Arial, sans-serif;
    --baseFontSize: 18px;
    --baseLineHeight: 1.8;
    --smallerFontSize: 0.75em;
    --maxWidth: 40em;
    --bgColor: #f8f8f4;
    --mainColor: #333333;
    --hColor: #1a1a1a;
    --subtleColor: #999999;
    --colored: #daafe8;
    --coloredFull: #e196f8;
    --coloredFullOver: #c06eda;
}

html {
    box-sizing: border-box;
    font-size: var(--baseFontSize);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited {
    color: var(--mainColor);
}

body {
    font-family: var(--mainFont);
    margin: 0;
    line-height: var(--baseLineHeight);
    background-color: var(--colored);
    color: var(--mainColor);
    padding: 2rem 1rem 1rem 1rem;
    color: var(--mainColor);
}

.box {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    padding: 0;
    padding-bottom: 1rem;
}

.box img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h1 {
    font-family: var(--mainFont);
    font-size: 1.75rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.45;
    color: var(--hColor);
}

.navi {
    text-align: left;
    padding: 0.6rem;
    font-size: 0.8rem;
}

.navi a {
    text-decoration: none;
    color: var(--subtleColor);
}

.langs {
    text-align: center;
    font-size: 0.8rem;
}

.langs a {
    text-decoration: none;
    color: var(--subtleColor);
}

.langs img {
    border: 1px solid #dddddd;
    width: 20px;
    margin-right: 6px;
    border-radius: 0;
    margin-bottom: 1px;
    vertical-align: text-bottom;
}

.langs img.eng {
    margin-bottom: 2px;
}

p {
    margin: 0;
    padding: 1rem;
}

.number {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.number a {
    text-decoration: none;
}

.content {
    text-align: center;
}

button {
    background-color: var(--coloredFull);
    color:#FFF;
    cursor: pointer;
    padding:0.5rem 0.7rem;
    border:0;
    border-radius:4px;
    font-size: 1rem;
}

button:hover {
    background-color: var(--coloredFullOver);
}

.accountpay {
    display: block;
    padding-top: 0.3rem;
    font-size: 0.8rem;
}

.nobr {
    white-space: nowrap;
}

#qr {
    display: none;
    /* max-width: 250px;
    margin: 0 auto; */
}

#qr img {
    max-width: 250px;
    height: auto;
    margin: 0 auto;
}

/*  -------------  */
.name {
    font-weight: bold;
}

.legal {
    color: var(--subtleColor);
}

/*  -------------  */
footer {
    padding-top: 0.5rem;
}

footer div {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.75em;
    color: white;
}

footer a,
footer a:visited {
    color: white;
}